@import "../bootstrap/scss/bootstrap";
@import 'palette';
@import '../assets/css/color.sass';

$shadowcyan:0px 0px 100px cyan,
0px 0px 20px cyan,
0px 0px 100px cyan;
$shadowcyanvar1:0px 0px 20px cyan,
0px 0px 20px cyan,
0px 0px 20px cyan;
$bluevar:#007bff;

.btn-outline-primary {
    border-radius: 30px;
    box-shadow: $shadowcyan;
    color: $sky-blue-crayola;
    text-shadow: $shadowcyan;
    background-color: transparent;
}

.btn-outline-primary:hover {
    background-color: transparent;
}

.navbar-dark {
    background-color: black;
}

ul.nav li.active a {
    color: $sky-blue-crayola !important;
}

ul.nav li.active a:hover {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff !important;
}

.form-control {
    background-color: black;
    border: $bluevar 1px double;
}

.form-control:focus {
    box-shadow: $shadowcyanvar1;
    background-color: black;
    color: $bluevar !important;
}

.progress {
    background-color: white;
    box-shadow: $shadowcyan !important;
}

.progress-bar {
    background-color: $sky-blue-crayola;
}

.bg-dark{
background-color: black !important;
}