@import 'color'
@import 'palette'

*
    margin: 0
    padding: 0
body
    background: black
   
.navbar
    z-index: 3
    position: fixed
    width:100%
    color: green

    
.intro
    color: $sky-blue-crayola
    text-align: center
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    height: 100vh

a:hover 
    text-shadow: $shadowbluevar2
    border-bottom: 2px double #32a1ce

.about
    background-color: $navy-blue

.about p
    border:5px double
    color: $sky-blue-crayola
    
.about .photo
    border: 5px solid white

