@import 'color'
@import 'palette'
$shadowlightblue:0 0 5px $sky-blue-crayola,0 0 25px $sky-blue-crayola,0 0 50px $sky-blue-crayola,0 0 50px $sky-blue-crayola
@mixin no-focus()
    outline: none

@mixin hover-glow()
    background-color: $sky-blue-crayola
    color: black
    box-shadow: $shadowlightblue
@font-face
    font-family: neon
    src: url(../../fonts/NeonGlow-8VLz.ttf)

html
    scroll-behavior: smooth
body
    background-color: black
*
    margin: 0
    padding: 0

.navbar
    z-index: 3
    position: fixed
    width: 100%

.intro
    color: $sky-blue-crayola
    text-align: center
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    height: 100vh
    font-family: neon,fantasy
    text-shadow: $shadowbluevar1

.intro h1
    font-size: 75px

.intro h2
    color: $sky-blue-crayola

.about p
    border: 5px double
    color: $sky-blue-crayola

h2
    font-size: 50px
    color: $sky-blue-crayola
a:focus
    @include no-focus()
    
.about .photo
    border: 5px solid white

.btn-neon
    color: $sky-blue-crayola
    position: relative
    background-color: black
    border: none
    padding: 10px
    letter-spacing: 2px
    overflow: hidden

.btn-neon:focus
    @include no-focus()
    
.btn-neon:hover
    @include hover-glow()


.btn-neon span
    position: absolute
    display: block

.btn-neon span:nth-child(1)
    top: 0
    left: -100%
    width: 100%
    height: 100%
    background: linear-gradient(90deg, transparent,$sky-blue-crayola)
    animation: anim1 3s linear infinite

.btn-neon span:nth-child(2)
    top: 0
    right: -100%
    width: 100%
    height: 100%
    background: linear-gradient(270deg, transparent,$sky-blue-crayola)
    animation: anim2 3s linear infinite
    animation-delay:1.5s

.btn-form
    color: $sky-blue-crayola
    position: relative
    background-color: black
    border: none
    padding: 10px
    letter-spacing: 2px
    overflow: hidden

.btn-form:hover
    @include hover-glow()

.btn-form span
    position: absolute
    display: block

.btn-form span:nth-child(1)
    top: 0
    left: -100%
    width: 100%
    height: 100%
    background: linear-gradient(90deg, transparent,$sky-blue-crayola)
    animation: anim1 3s linear infinite

.btn-form span:nth-child(2)
    top: 0
    right: -100%
    width: 100%
    height: 100%
    background: linear-gradient(270deg, transparent,$sky-blue-crayola)
    animation: anim2 3s linear infinite
    animation-delay:1.5s
@keyframes anim1
    0%
        left:-100%
    50%,100%
        left:100%

@keyframes anim2
    0%
        right:-100%
    50%,100%
        right:100%
          
.btn-form:focus
    @include no-focus()

.projets p
    color: blue
    border: 1px solid $navy-blue

.skills h1
    color: $navy-blue

label
    color: $sky-blue-crayola

.contact
    color: $sky-blue-crayola

.contact i
    text-shadow: $shadowlightblue

.contact li
    list-style: none

footer li
    list-style: none
    display: inline-block

footer i
    text-shadow: $shadowlightblue
    color: $sky-blue-crayola