@import 'color'
@import 'palette'
*
    margin: 0
    padding: 0
body
    background: black
   
.navbar
    z-index: 3
    position: fixed
    width:100%
    
.intro
    background-color: $navy-blue
    color: $sky-blue-crayola
    text-align: center
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    height: 75vh


a
    color: $sky-blue-crayola

a:hover 
    text-shadow: $shadowbluevar2
    border-bottom: 2px double #32a1ce

.about
    height: 50vh

.about p
    border:5px double
    width: 50vw
